<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<div class= "text-center">
  <h1> In search of a gourmet meal? </h1>
  <h2>Rent a chef!</h2>
</div>
<div class="content d-flex">
  <div class="container flex-grow-1">
    <div class="row row-cols-5">
      <% @chefs.each do |chef| %>
        <div class="col m-3">
          <%= link_to chef_path(chef) do  %>
            <div class="card-chef">
              <% if chef.photos.attached? %>
                <%= cl_image_tag chef.photos.first.key, class: "img-food" %>
              <% else %>
                <img src="https://i.pinimg.com/originals/f6/ba/9e/f6ba9e2c25ac835f8d9c681b01586cac.jpg" alt="">
              <% end %>
              <div class="card-chef-infos">
                <div>
                  <h2><%= chef.name %></h2>
                  <div class="d-flex">
                    <p><i class="fas fa-map-marker-alt m-1"></i></p>
                    <p><%= chef.location %></p>
                  </div>
                </div>
                <% if chef.avatar.attached? %>
                  <%= cl_image_tag chef.avatar.key, class:"card-chef-user avatar-bordered" %>
                <% else %>
                  <img class="card-chef-user avatar-bordered" src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprodmigration%2Fweb%2Fbin%2Fac1aab64-e6bd-3165-bd9f-9ecb9c4e66f2.jpg?crop=1500%2C1000%2C0%2C0&resize=1180" alt="">
                <% end %>
              </div>
              <div>
                <p class="card-chef-category">Italian Food</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col" id="map"
       style="width: 100%; height: 100vh; position: sticky;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>