<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<div class="container mx-2 mt-2 text-center">
  <h2> Popular Chefs near you </h2>
  <div class="row mx-2">
    <div class="col-6 mx-1 mt-1">
      <% @chefs.each do |chef| %>
        <div class="card d-block p-4">
          <%# <div> %>
          <%# <%= cl_image_tag chef.photo.key, class: "img-show" %>
          <%# </div> %>
          <div>
            <h3> <%=link_to chef.name, chef_path(chef) %> </h3>
            <p> <%= chef.location %></p>
            <p> <%= chef.description %> </p>
            <p><strong> <%= chef.price %> EUR </strong></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="p-3">
  <p><%= link_to 'Create a chef profile', new_chef_path, class: "btn-flat"%></p>
</div>

