<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<div class="px-4">
  <h2>Browse by category</h2>
  <%= render 'shared/categories' %>
  <div class="my-5">
    <h2> Popular Chefs near you </h2>
    <div class="container">
      <div class="row row-cols-5">
        <% @chefs.each do |chef| %>
          <div class="col mb-4">
            <%= link_to chef_path(chef) do  %>
              <div class="card-chef">
                <% if chef.photo.attached? %>
                  <%= cl_image_tag chef.photo.key, class: "img-food" %>
                <% else %>
                  <img src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprodmigration%2Fweb%2Fbin%2Fac1aab64-e6bd-3165-bd9f-9ecb9c4e66f2.jpg?crop=1500%2C1000%2C0%2C0&resize=1180" alt="">
                <% end %>
                <div class="card-chef-infos">
                  <div>
                    <h2><%= chef.name %></h2>
                    <p><%= chef.location %></p>
                  </div>
                  <% if chef.avatar.attached? %>
                    <%= cl_image_tag chef.avatar.key, class:"card-chef-user avatar-bordered" %>
                  <% else %>
                    <img class="card-chef-user avatar-bordered" src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprodmigration%2Fweb%2Fbin%2Fac1aab64-e6bd-3165-bd9f-9ecb9c4e66f2.jpg?crop=1500%2C1000%2C0%2C0&resize=1180" alt="">
                  <% end %>
                </div>
                <div>
                  <h6 class="card-chef-category">Italian Food</h6>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
