<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<div class="container m-3">
  <h3><%= @chef.name %> </h3>
  <p><%= @chef.location %> </p>
  <p><%= @chef.description %> </p>
  <p><strong> <%= @chef.price %> EUR</strong></p>

  <p><%= link_to 'Back to list', chefs_path, class: "btn-flat"%></p>
</div>

