<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<div class="container col-12 mb-3">
  <div class="row">
    <div class="col-6">
      <div class="chef-info">
        <h2><%= @chef.name %> </h2>
        <div class="d-flex">
          <i class="fas fa-map-marker-alt pr-2 icon-chef p-1"></i>
          <p><%= @chef.location %> </p>
        </div>
        <div class="d-flex mb-2">
          <i class="fas fa-dollar-sign pr-2 icon-chef p-1"></i>
          <p><%= @chef.price %>/day</p>
        </div>
        <%= link_to 'Book now', new_chef_booking_path(@chef), class: "btn-flat mb-3"%>
        <h4 class="mt-5">About me</h4>
        <p><%= @chef.description %> </p>
        <div class="review mb-5">
        <% @chef.reviews.each do |review| %>
              <% review.rating.times do %>
                <i class="fas fa-pizza-slice"></i>
              <% end %>
              <div class="review-comment">
                <em>"<%= review.content %>"</em>
            </div>
          <hr>
          <% end -%>
        </div>
      </div>
      <%= link_to 'Back to list', chefs_path, class: "btn-flat-secondary button-back-chef"%>
    </div>
    <div class="col-6">
      <% if @chef.photos.attached? %>
        <%= cl_image_tag @chef.photos.first.key, class: "img-show" %>
      <% else %>
        <img src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprodmigration%2Fweb%2Fbin%2Fac1aab64-e6bd-3165-bd9f-9ecb9c4e66f2.jpg?crop=1500%2C1000%2C0%2C0&resize=1180" alt="" class="img-show">
      <% end %>
    </div>
  </div>
</div>
