<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<div>
  <h1 class="text-center">Book <%= @chef.name %> now</h1>
</div>
<div class="container col-6 col-lg-4">
  <%= simple_form_for [@chef, @booking] do |f| %>
    <%= f.input :start_date%>
    <%= f.input :end_date%>
    <div class="d-flex justify-content-between">
      <%= f.submit "Book", class: "btn-flat border-0" %>
      <%= link_to 'Back', chefs_path, class: "btn-flat" %>
    </div>
  <% end %>
</div>
