<div class="cards">
  <%= image_tag "cake.png", class: "card-category" %>
  <%= image_tag "sushi.png", class: "card-category" %>
  <%= image_tag "pizza.png", class: "card-category" %>
  <%= image_tag "salad.png", class: "card-category" %>
  <%= image_tag "burger.png", class: "card-category" %>
</div>
