<div class="cards">
  <%= image_tag "doughnut.png", class: "card-category" %>
  <%= image_tag "dim-sum.png", class: "card-category" %>
  <%= image_tag "pasta.png", class: "card-category" %>
  <%= image_tag "ratatouille.png", class: "card-category" %>
  <%= image_tag "burger-sandwich.png", class: "card-category" %>
</div>
