<div class="navbar navbar-expand-sm navbar-light navbar-landing ">
  <div class="navbar-iconlogo-landing">
    <i class="fas fa-utensils fa-3x navbar-icon"></i>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3 active">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-flat btn-landing" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat btn-landing" %>
      </li>
    </ul>
  </div>
</div>
<div class="row full-banner-landing mx-0">
  <div class="big-logo">
    <%= image_tag "logo-big.png", class: "img-fluid big-logo"%>
  </div>
  <div class="half-banner-landing">
    <div class="content">
      <span class="iconify food-landing-icon icon-fluid" data-inline="false" data-icon="emojione-v1:pot-of-food" style="font-size: 12em;"></span>
      <div class="text-box">
        <h2>Create <strong>memories</strong>,</h2>
        <h2>enjoy the best food</h2>
        <h2>from the bests chefs in your city</h2>
      </div>
    </div>
    <div class="col  text-center px-0" id ="search-chefs">
      <%= link_to "Search", chefs_path, class: "btn btn-flat btn-landing" %>
    </div>
  </div>
</div>
<div class="pt-5" >
  <div class="px-5 mt-5">
    <h1>How does it work?</h1>
    <h3>If you’re a chef</h3>
    <div class="card-container my-5">
      <% @cards_rent_chef.each do |card| %>
        <div class="card-instructions">
          <img src="<%= card[:img_url]%>" alt="<%= card[:alt] %>" class="instruction-img">
          <div class="text-instructions">
            <div>
              <h4><%= card[:title] %></h4>
              <p> <%= card[:instruction] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <h3>If you’re looking for a chef</h3>
    <div class="card-container my-5">
      <% @cards_find_chef.each do |card| %>
        <div class="card-instructions">
          <img src="<%= card[:img_url]%>" alt="<%= card[:alt] %>" class="instruction-img">
          <div class="text-instructions">
            <div>
              <h4><%= card[:title] %></h4>
              <p> <%= card[:instruction] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
