<h1> Footer</h1>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made with <i class="fas fa-heart"></i> by the Spotlight team
  </div>
</div>

<br>

<h1>Cards - categories </h1>

<div class="cards">
<%= image_tag "cake.png", class: "card-category" %>
<%= image_tag "sushi.png", class: "card-category" %>
<%= image_tag "pizza.png", class: "card-category" %>
<%= image_tag "salad.png", class: "card-category" %>
<%= image_tag "burger.png", class: "card-category" %>
</div>
