<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<h2 class="text-center">My bookings</h2>

<div class="container my-4">
  <% @my_bookings.each do |my_booking| %>
    <div class="card-product mb-3">
      <%= cl_image_tag my_booking.chef.photos.first.key, class: "main-image" %>
      <div class="card-product-infos">
        <h2><%= my_booking.chef.name %></h2>
        <p><%= my_booking.status.capitalize %></p>
      </div>
    </div>
  <% end %>
</div>


<h2 class="text-center">My chefs bookings</h2>

<div class="container my-4">
  <% @my_chef_bookings.each do |my_chef_booking| %>
    <div class="card-product mb-3">
      <%= cl_image_tag my_chef_booking.chef.photos.first.key, class: "main-image" %>
      <div class="card-product-infos">
        <h2><%= my_chef_booking.chef.name %></h2>
        <p class="mb-3"><%= my_chef_booking.status.capitalize %></p>
        <% if my_chef_booking.status == "accepted"%>
          <%= link_to "Decline", booking_path(my_chef_booking, booking: {status: "declined"}), method: :patch, class: "btn-flat"%>
        <% elsif my_chef_booking.status == "pending"%>
          <%= link_to "Accept", booking_path(my_chef_booking, booking: {status: "accepted"}), method: :patch, class: "btn-flat"%>
          <%= link_to "Decline", booking_path(my_chef_booking, booking: {status: "declined"}), method: :patch, class: "btn-flat"%>
        <% else %>
          <%= link_to "Accept", booking_path(my_chef_booking, booking: {status: "accepted"}), method: :patch, class: "btn-flat"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

